{
  "version": "2.0",
  "envId": "YOUR_CLOUD_ENV_ID",
  "functionRoot": "./cloudfunctions",
  "functions": [
    {
      "name": "chat",
      "timeout": 90,
      "memorySize": 512,
      "runtime": "Nodejs16.13",
      "installDependency": true,
      "envVariables": {
        "ADMIN_OPENID": "__REPLACE_WITH_YOUR_OPENID__"
      },
      "handler": "index.main"
    },
    {
      "name": "feedback",
      "timeout": 30,
      "memorySize": 256,
      "runtime": "Nodejs16.13",
      "installDependency": true,
      "envVariables": {
        "ADMIN_OPENID": "__REPLACE_WITH_YOUR_OPENID__"
      },
      "handler": "index.main"
    },
    {
      "name": "history",
      "timeout": 30,
      "memorySize": 256,
      "runtime": "Nodejs16.13",
      "installDependency": true,
      "envVariables": {
        "ADMIN_OPENID": "__REPLACE_WITH_YOUR_OPENID__"
      },
      "handler": "index.main"
    },
    {
      "name": "login",
      "timeout": 30,
      "memorySize": 256,
      "runtime": "Nodejs16.13",
      "installDependency": true,
      "envVariables": {
        "ADMIN_OPENID": "__REPLACE_WITH_YOUR_OPENID__"
      },
      "handler": "index.main"
    },
    {
      "name": "admin",
      "timeout": 30,
      "memorySize": 256,
      "runtime": "Nodejs16.13",
      "installDependency": true,
      "envVariables": {
        "ADMIN_OPENID": "__REPLACE_WITH_YOUR_OPENID__"
      },
      "handler": "index.main"
    }
  ]
}
